@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --yellow:#ffd700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: captalize;
    transition: all .2s linear;
}

html{
    background: whitesmoke;
    font-size: 62.5%;
}

/*Header*/

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: whitesmoke;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

section{
    margin-top:62px;
    font-size: 15px;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}

header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

header .logo i {
    color: var(--yellow)
}
th{
    color:green;
}

header a span{
  color:black;
  letter-spacing: 3px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    margin-top: 70px;
}
.inp{
    border-radius: 10px;
    border: .3px solid  rgb(234, 234, 241);
    box-shadow: 1px 3px 10px rgba(16, 13, 13, 0.263);
    width: 300px;
    height: 35px;
    outline: 0;
    margin: 0;
    font-size: 15px;
    padding-left: 20px;
}
::placeholder{
 color: rgba(112, 115, 118, 0.442);
}
